@import "tailwindcss";

:root {
  --background: #e9eef8;
  --foreground: #171717;
  --card-bg: #fff;
}
.dark {
  --background: #0f1724;
  --foreground: #f3f4f6;
  --card-bg: #0b1320;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background 0.3s ease, color 0.3s ease;
}
